logs/shema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="requests"/>
    <xs:complexType name="requests">
        <xs:sequence>
            <xs:element name="request" type="request"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="request">
        <xs:sequence>
            <xs:element name="date" type="xs:date"/>
            <xs:element name="query" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>